.footer {
  position: relative;
  height: 850px;
  background: url("../img/footer-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;

  &__inner {
    padding-top: 230px;
    display: flex;
  }

  &__col:nth-child(1) {
    width: 45%;
    padding-right: 70px;

    @include media-max(1200) {
      width: 40%;
    }
  }

  &__col:nth-child(2) {
    width: 55%;

    @include media-max(1200) {
      width: 60%;
    }
  }

  &__title {
    color: $color-white;
    margin: 10px 0 20px;
  }
}
