.functional {
  background: url("../img/functional-bg.png");
  background-size: 100% 100%;
  background-position-x: center;

  @include media-max(1900) {
    background-size: cover;
  }

  &__inner {
    padding: 200px 0;

    @include media-max(1200) {
      padding: 120px 0;
    }
  }

  &__title {
    color: $color-white;
  }

  &__box {
    width: 1170px;
    margin: 0 auto;
    padding-top: 120px;
    display: flex;
    justify-content: space-between;

    @include media-max(1250) {
      max-width: 1100px;
      width: 100%;
      padding-top: 50px;
    }
  }
}

.functional-item {
  max-width: 342px;

  &:not(:last-child) {
    min-height: 190px;

    @include media-max(1200) {
      min-height: 175px;
    }
  }

  &__head {
    @include flex-v-center;
    padding-bottom: 20px;

    &--col-first {
      justify-content: flex-end;
    }
  }

  &__title {
    font-family: "EuropeExt", sans-serif;
    color: $color-white;
    font-size: 26px;
    line-height: 25px;
    letter-spacing: -0.2px;

    @include media-max(1025) {
        font-size: 22px;
    }
  }

  &__text {
    color: $color-white;
    font-size: 16px;
    line-height: 21px;
    opacity: 0.67;
  }

  &__icon {
    margin-right: 18px;

    &--right {
      margin-left: 18px;
      margin-right: 0;
    }
  }

  &--col-first {
    text-align: right;
  }
}
