<section class="about" id="about">
  <div class="container about__container">
    <div class="about__inner">
      <div class="about__content">
        <div class="about__hint">
          about the platform
        </div>
        <h2 class="about__title">
          О платформе <span class="color-primary">Wisorline</span>
        </h2>
        <div class="about__text">
          <p><span class="color-primary about__text-accent">Мы предоставляем в аренду линии,</span> как для наземных букмекерских контор,
            так и для онлайн букмекеров по всему миру. Мы являемся надежными партнерами в индустрии ставок уже более чем
            для 99 успешных букмекерских контор из разных стран. </p>
          <p>Аренда спортсбука от Wisorline позволит запустить вашу букмекерскую контору в короткие сроки и на высшем
            уровне. Букмекерская линия содержит в себе широкий выбор спортивных событий и разнообразие
            коэффициентов. </p>
        </div>
      </div>
      <div class="about__img">
        <img class="about__img-img" src="img/iPad.png" alt="">
      </div>
    </div>
  </div>
</section>
