<section class="advantages">
  <div class="container advantages__container">
    <div class="advantages__block advantages__block--list">
      <div class="advantages__hint advantages__hint--list">
        Advantages of renting
      </div>
      <h2 class="advantages__title advantages__title--list">
        <span class="color-primary">Преимущества</span> аренды
      </h2>
      <div class="advantages-box">
        <div class="advantages-box__col advantages-box__col--first">
          <div class="advantage-item advantage-item--col-first">
            <div class="advantage-item__title">Готовое решение</div>
            <div class="advantage-item__text">
              Вы получите в аренду свою готовую линию в короткие сроки. Это гораздо быстрее и удобнее, чем нанимать
              разработчиков и создавать линию с нуля.
            </div>
          </div>
          <div class="advantage-item advantage-item--col-first">
            <div class="advantage-item__title">Удобный интерфейс</div>
            <div class="advantage-item__text">
              Букмекерская линия имеет понятный, удобный и современный интерфейс. Платформа протестирована как
              профессионалами, так и обычными пользователями.
            </div>
          </div>
          <div class="advantage-item advantage-item--col-first">
            <div class="advantage-item__title">События Live</div>
            <div class="advantage-item__text">
              Линия для букмекерской конторы работает в режиме реального времени с точностью до 1 секунды. Это
              значительно упрощает отслеживание статистики и обновления коэффициентов.
            </div>
          </div>
        </div>
        <div class="advantages-box__col advantages-box__col--second">
          <div class="advantage-item advantage-item--col-second">
            <div class="advantage-item__title">Служба поддержки</div>
            <div class="advantage-item__text">
              Мы будем с вами на связи 24/7. Если возникнут вопросы, наша служба поддержки всегда вам поможет
              разобраться.
            </div>
          </div>
          <div class="advantage-item advantage-item--col-second">
            <div class="advantage-item__title">100+ видов спорта</div>
            <div class="advantage-item__text">
              В линии есть полное разнообразие для совершения ставок, более 100 видов спорта и огромное количество
              спортивных событий из всех точек мира.
            </div>
          </div>
          <div class="advantage-item advantage-item--col-second">
            <div class="advantage-item__title">Удобная интеграция</div>
            <div class="advantage-item__text">
              Арендуя спортивную линию от Wisorline, ваша интеграция по API будет максимально быстрой и комфортной.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="advantages__block advantages__block--desc">
    <div class="advantages-desc">
      <div class="advantages-desc__col">
        <img class="advantages-desc__img" src="img/ball.png" alt="">
      </div>
      <div class="advantages-desc__col">
        <div class="block-hint block-hint--dark advantages-desc__hint">
          sports line
        </div>
        <h2 class="section-title advantages-desc__title">
          Интегрируйте
          <span class="color-primary">спортивную линию</span>
          на свой сайт всего
          в два клика
        </h2>
        <div class="advantages-desc__text">
          <p>
            С помощью нашей гибкой структуры вы сможете за максимально короткий промежуток времени и с минимальными
            трудностями произвести интеграцию на свой сайт. Вам необходимо только оставить заявку на сайте, а наши
            профессионалы сделают свое дело быстро и качественно. Позвольте вашему букмекерскому бизнесу стать успешным
            и прибыльным!
          </p>
        </div>
        <button class="btn btn--bg-primary advantages-desc__btn">
          <span>оставить заявку</span>
        </button>
      </div>
    </div>
  </div>
</section>
