<div class="anchor-nav">
  <a class="anchor-nav__link anchor-nav__link--active" href="#hero">
    <span>01</span>
  </a>
  <a class="anchor-nav__link" href="#about"> <!---->
    <span>02</span>
  </a>
  <a class="anchor-nav__link" href="#advantages">
    <span>03</span>
  </a>
  <a class="anchor-nav__link" href="#contains"> <!---->
    <span>04</span>
  </a>
  <a class="anchor-nav__link" href="#functional">
    <span>05</span>
  </a>
  <a class="anchor-nav__link" href="#request"> <!---->
    <span>06</span>
  </a>
  <a class="anchor-nav__link" href="#footer">
    <span>07</span>
  </a>
</div>
