<section class="contains">
  <div class="container contains__container">
    <div class="contains__inner">
      <div class="block-hint contains__hint">
        contains the platform
      </div>
      <h2 class="section-title contains__title">
        <span class="color-primary">Что включает</span> аренда спортбука
      </h2>
      <div class="contains-list">
        <div class="contain-item">
          <div class="rhombus-decor rhombus-decor--count">
            <span class="rhombus-decor__number">01</span>
            <div class="rhombus-decor__item"></div>
          </div>
          <div class="contain-item__text">
            Все виды спорта <br>
            + киберспорт
          </div>
        </div>
        <div class="contain-item">
          <div class="rhombus-decor rhombus-decor--dark rhombus-decor--count">
            <span class="rhombus-decor__number">02</span>
            <div class="rhombus-decor__item rhombus-decor__item--dark"></div>
          </div>
          <div class="contain-item__text">
            Работа <br>
            в режиме live
          </div>
        </div>
        <div class="contain-item">
          <div class="rhombus-decor rhombus-decor--count">
            <span class="rhombus-decor__number">03</span>
            <div class="rhombus-decor__item"></div>
          </div>
          <div class="contain-item__text">
            Мультиязычность
          </div>
        </div>
        <div class="contain-item">
          <div class="rhombus-decor rhombus-decor--dark rhombus-decor--count">
            <span class="rhombus-decor__number">04</span>
            <div class="rhombus-decor__item rhombus-decor__item--dark"></div>
          </div>
          <div class="contain-item__text">
            Чемпионаты всех стран
          </div>
        </div>
        <div class="contain-item">
          <div class="rhombus-decor rhombus-decor--count">
            <span class="rhombus-decor__number">05</span>
            <div class="rhombus-decor__item"></div>
          </div>
          <div class="contain-item__text">
            Безлимитные <br>
            запросы
          </div>
        </div>
        <div class="contain-item">
          <div class="rhombus-decor rhombus-decor--dark rhombus-decor--count">
            <span class="rhombus-decor__number">06</span>
            <div class="rhombus-decor__item rhombus-decor__item--dark"></div>
          </div>
          <div class="contain-item__text">
            Служба <br>
            поддержки
          </div>
        </div>
        <div class="contain-item">
          <div class="rhombus-decor rhombus-decor--count">
            <span class="rhombus-decor__number">07</span>
            <div class="rhombus-decor__item"></div>
          </div>
          <div class="contain-item__text">
            Результаты спортивных <br>
            событий
          </div>
        </div>
        <div class="contain-item">
          <div class="rhombus-decor rhombus-decor--dark rhombus-decor--count">
            <span class="rhombus-decor__number">08</span>
            <div class="rhombus-decor__item rhombus-decor__item--dark"></div>
          </div>
          <div class="contain-item__text">
            Автоматический <br>
            расчет ставок
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
