<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__col">
        <div class="block-hint block-hint--dark">our contacts</div>
        <h2 class="section-title footer__title">
          Наши <span class="color-primary">контакты</span>
        </h2>
        <div class="contacts">
          <div class="contacts__title">Свяжитесь с нами любым удобным для Вас способом</div>
          <div class="contacts__list">
            <div class="contacts__item">
              <a class="contacts__item-text" href="javascript:void(0)">+7 (999) 999-99-99</a>
            </div>
            <div class="contacts__item contacts__item--mail">
              <a class="contacts__item-text" href="javascript:void(0)">vashapochta@mail.ru</a>
            </div>
            <div class="contacts__item contacts__item--address">
              <span class="contacts__item-text">г. Пример, ул. Примерная, д.48, офис 25</span>
            </div>
          </div>
        </div>
        <div class="socials footer__socials">
          <div class="socials__item">
            <div class="rhombus-decor rhombus-decor--socials">
              <a class="rhombus-decor__item rhombus-decor__item--socials" href="#">
                <svg class="rhombus-decor__icon">
                  <use xlink:href="img/sprite.svg#vk"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="socials__item">
            <div class="rhombus-decor rhombus-decor--socials">
              <a class="rhombus-decor__item rhombus-decor__item--socials" href="#">
                <svg class="rhombus-decor__icon">
                  <use xlink:href="img/sprite.svg#inst"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="socials__item">
            <div class="rhombus-decor rhombus-decor--socials">
              <a class="rhombus-decor__item rhombus-decor__item--socials" href="#">
                <svg class="rhombus-decor__icon">
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="socials__item">
            <div class="rhombus-decor rhombus-decor--socials">
              <a class="rhombus-decor__item rhombus-decor__item--socials" href="#">
                <svg class="rhombus-decor__icon">
                  <use xlink:href="img/sprite.svg#twitter"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__col">
        <div class="contact-form">
          <div class="contact-form__content">
            <h2 class="section-title contact-form__title">
              Остались <span class="color-primary">вопросы?</span>
            </h2>
            <h3 class="contact-form__subtitle">
              Оставьте заявку на сайте и наш менеджер в ближашее
              время Вам перезвонит
            </h3>
            <form action="" class="contact-form__form" autocomplete="off">
              <div class="custom-field custom-field--input-name contact-form__input-wrap">
                <input type="text" name="name" class="custom-field__input" placeholder="Введите Ваше имя">
              </div>
              <div class="custom-field custom-field--input-tel contact-form__input-wrap">
                <input type="tel" name="tel" class="custom-field__input" placeholder="Введите Ваш телефон">
              </div>
              <button class="btn btn--bg-primary contact-form__btn">
                <span>оставить заявку</span>
              </button>
            </form>
          </div>
          <div class="contact-form__bg contact-form__bg--dark"></div>
          <div class="contact-form__bg contact-form__bg--primary"></div>
        </div>
      </div>
    </div>
  </div>
</footer>
