<section class="functional" id="functional">
  <div class="container">
    <div class="functional__inner">
      <div class="block-hint block-hint--center block-hint--dark">functional</div>
      <div class="section-title section-title--center functional__title"><span class="color-primary">Функционал</span>
        спортивной линии
      </div>
      <div class="functional__box">
        <div class="functional__box-col">
          <div class="functional-item functional-item--col-first">
            <div class="functional-item__head functional-item__head--col-first">
              <div class="functional-item__title">
                Быстрая <br>ставка
              </div>
              <img class="functional-item__icon functional-item__icon--right" src="img/functional/clock.png" alt="">
            </div>
            <div class="functional-item__text">
              Позволяет пользователю установить сумму ставки и далее размещать пари одним щелчком мыши.
            </div>
          </div>
          <div class="functional-item functional-item--col-first">
            <div class="functional-item__head functional-item__head--col-first">
              <div class="functional-item__title">
                Изменить <br>ставку
              </div>
              <img class="functional-item__icon functional-item__icon--right" src="img/functional/shuffle.png" alt="">
            </div>
            <div class="functional-item__text">
              Пользователи могут изменять события в уже сделанных комбинированных ставках (экспрессах и др.).
            </div>
          </div>
          <div class="functional-item functional-item--col-first">
            <div class="functional-item__head functional-item__head--col-first">
              <div class="functional-item__title">
                Мульти-ставки
              </div>
              <img class="functional-item__icon functional-item__icon--right" src="img/functional/tokens.png" alt="">
            </div>
            <div class="functional-item__text">
              Позволяет пользователю установить сумму ставки и далее размещать пари одним щелчком мыши.
            </div>
          </div>
          <div class="functional-item functional-item--col-first">
            <div class="functional-item__head functional-item__head--col-first">
              <div class="functional-item__title">
                Прогноз <br>экспертов
              </div>
              <img class="functional-item__icon functional-item__icon--right" src="img/functional/analytics.png" alt="">
            </div>
            <div class="functional-item__text">
              Пользователи могут изменять события в уже сделанных комбинированных ставках (экспрессах и др.).
            </div>
          </div>
        </div>
        <div class="functional__box-col">
          <div class="functional-item">
            <div class="functional-item__head">
              <img class="functional-item__icon" src="img/functional/loupe.png" alt="">
              <div class="functional-item__title">
                Поиск <br>событий
              </div>
            </div>
            <div class="functional-item__text">
              Пользователь может найти необходимое событие по названию на странице
            </div>
          </div>
          <div class="functional-item">
            <div class="functional-item__head">
              <img class="functional-item__icon" src="img/functional/favourite.png" alt="">
              <div class="functional-item__title">
                Внести событие <br>
                в избранное
              </div>
            </div>
            <div class="functional-item__text">
              Пользователь может добавлять в список избранных разные чемпионаты и события
            </div>
          </div>
          <div class="functional-item">
            <div class="functional-item__head">
              <img class="functional-item__icon" src="img/functional/check.png" alt="">
              <div class="functional-item__title">
                Бронирование <br>
                ставки
              </div>
            </div>
            <div class="functional-item__text">
              Возможность зарезервировать ставку, чтобы затем сделать ее в букмекерской точке
            </div>
          </div>
          <div class="functional-item">
            <div class="functional-item__head">
              <img class="functional-item__icon" src="img/functional/money.png" alt="">
              <div class="functional-item__title">
                Система <br>
                бонусов
              </div>
            </div>
            <div class="functional-item__text">
              Кешбэк и бонус за мультиставку, бонус на экспресс, спортивные бонусы (фрибеты, бонусы с отыгрышем)
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
