<header class="header">
  <div class="container container--topper">
    <div class="header__inner">
      <div class="header__phone">
        <button class="btn btn--border header__phone-btn">
          <img class="header__phone-icon" src="img/call1.png" alt="">
        </button>
        <span class="header__phone-text">Заказать звонок</span>
      </div>
      <div class="header__inner">
        <img class="header__logo-img" src="img/logo.png" alt="logo">
      </div>
      <a class="btn btn--border header__acc-btn" href="#">
        <span>Личный кабинет</span>
      </a>
    </div>
  </div>
</header>
