<section class="hero">
  <div class="hero__inner">
    <div class="hero__hint">
      betting platform
    </div>
    <h1 class="hero__title">
      Wisorline — <span class="color-primary">мощная</span>
      <span class="hero__title-linear">платформа для букмекеров</span>
    </h1>
    <h3 class="hero__subtitle">
      Наша платформа позволит сделать ваш букмекерский <span class="hero__subtitle-highlight">бизнес успешным.</span>
      Мы предоставляем широкую линию <span class="hero__subtitle-highlight">с более 100 видами</span> спорта.
    </h3>
    <button class="btn btn--bg-primary hero__btn">
      <span>оставить заявку</span>
    </button>
  </div>
  <div class="scroll-hint">
    <span class="scroll-hint__text">scroll down</span>
    <img class="scroll-hint__arrow" src="img/arrow-down.png" alt="">
  </div>
</section>
