<section class="request" id="request">
  <div class="container">
    <div class="request__inner">
      <div class="block-hint block-hint--center">sports line rental</div>
      <h2 class="section-title section-title--center request__title"><span class="color-primary">Хотите арендовать</span>
        спортивную линию?  Или остались вопросы?
      </h2>
      <span class="request__subtitle">Оставьте заявку и мы свяжемся с Вами в ближайшее время</span>
      <button class="btn btn--bg-primary request__btn">
        <span>оставить заявку</span>
      </button>
    </div>
  </div>
</section>
